@charset "UTF-8";

/* 回答はここに書いてね */

.q10_hukidasi {
  position: relative;
  margin:0 auto;
  width: 500px;
  padding: 20px;
  border: solid 5px #222;
  border-radius: 30px;
}

.q10_hukidasi::before, .q10_hukidasi:after {
  position: absolute;
  content: "";
  border: solid 20px transparent;
  left: 0;
  bottom: 0;
  height: 0;
  width: 0;
  margin-left: -10px;
}

.q10_hukidasi:before {
  bottom: -45px;
  left: 40px;
  border-top-color: #222;
}

.q10_hukidasi:after {
  bottom: -38px;
  left: 40px;
  border-top-color: #fff;
}











/* 回答はここに書いてね */
