@charset "UTF-8";

/* 回答はここに書いてね */

.q7__inner {
}

.q7__box.inner_box1 {
  float: left;
  width: 225px;
  margin-right: 50px;
}

.q7__box.inner_box2 {
  float: right;
  width: 225px;
}





/* 回答はここに書いてね */
