@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  width: 100%;
  border: 1px solid #dedede;
  table-layout: fixed;
}

.q3_thead_inner th {
  background-color: #24a;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.q3_tbody_inner th {
  background-color: #24a;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.q3_tbody_inner td {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.q3_tbody_inner tr:nth-child(2n) {
  background-color: #ECF1F2;
}

.q3_tbody_inner tr:last-child {
  border-top: 2px dashed #000;
}
.q3_table th, .q3_table td {
  padding: 10px;
  border: 1px solid #dedede;
}
/* 回答はここに書いてね */
